<%= render "subnav" %>
<div id="main_body">

  <!--  Carousel - consult the Twitter Bootstrap docs at
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide slow"><!-- class of slide for animation -->
    <div class="container">
      <div class="carousel-inner">
        <div id="mainscreen" class="locker_room item active"><!-- class of active since it's the first item -->
          <div id="wrapper">
            <div id="bigtext" class="third_color pull-left">
              <h1>YOU CAN LEARN A LOT ABOUT SOMEONE FROM THEIR LOCKER</h1>
              <hr id="title_hr">
              <h5>Here’s a chance for you to learn more about our team at Creative.</h5>
            </div>
            <div id="locker_changer" class="locker_img pull-right">

              <%= image_tag("customer_lounge/locker.png") %>
            <div class="clearfix"></div>
            </div>
<!--  <%= image_tag("customer_lounge/locker_open.jpg",:class => "locker_open" ) %>
 -->              <!-- put padding on me -->
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
      href values must reference the id for this carousel -->
    </div><!-- /.carousel -->
  </div>
</div> <!-- main_body ends -->


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="https://www.facebook.com/CreativePromo" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="https://twitter.com/CPPromos" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/company/976398?trk=prof-0-ovw-curr_pos" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>



  <main id="main" class="associates">

    <div id="lounge_content" class="locker_room_text sales_assoc">
      <div id="one-locker" class="text_window bar_text pull-left">
          <div id="title_text" class="one pull-left">
            <h4 class="first_color">Locker Room</h4>
          </div>
          <div class="clearfix"></div>
          <div class="locker_account_text">
            <p>Use the arrow keys to slide through the <br> selection of Team Creative's lockers and learn <br> more about your favorite team member.</p>
          </div>
         </div><!-- one-locker ends -->


          <!-- <form class="locker navbar-search pull-right" action>
            <input type="text" class="search-query" placeholder="Enter Locker Code">
          </form> -->

  </main><!--  main ends  fonso-->

<div class="clearfix"></div>

<div id="carousel-lockers" class="carousel slide"><!-- class of slide for animation -->
<div class="locker_container">
  <div class="carousel-inner">

    <div class="item active"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
            <div  class="pull-left"><%= image_tag "aberman_art_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
         <div  class="pull-left"><%= image_tag "aman_charlie_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
        <div  class="pull-left"><%= image_tag "anderson_byron_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "bacigalupo_ann_locker.png"%></div>
      </div>
    </div>

     <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "biernat_sharon_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "blesius_ponch_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "block_rich_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "caldwell_aubrey_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "elowe_judy_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "elowe_larry_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "elowe_mike_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "glecher_jerry_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "gonzalez_paula_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
      <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "grannick_dan_locker.png"%></div>
      </div>
    </div>


    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "hablero_manny_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "imana_julie_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "kreger_mark_locker.png"%></div>
      </div>
    </div>

    <div class="item"><!-- class of active since it's the first item -->
     <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "lee_jonathon_locker.png"%></div>
      </div>
    </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "mate_amy_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "myers_dosa_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "rotman_holly_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "saltta_maria_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
            <div  class="pull-left"><%= image_tag "sanchez_elizabeth_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "vacarro_loni_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "weiss_caryn_locker.png"%></div>
        </div>
      </div>

      <div class="item"><!-- class of active since it's the first item -->
        <div id="small_images" class="pull-left">
          <div  class="pull-left"><%= image_tag "weller_larry_locker.png"%></div>
        </div>
      </div>

  </div><!-- /.carousel -->
    <a class="carousel-control left"  href="#carousel-lockers" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#carousel-lockers" data-slide="next">&rsaquo;</a>
</div>

</div>
<div class="clearfix"></div>

<!--lounge content -->

