<%= render "subnav" %>
<div id="main_body">

  <!--  Carousel - consult the Twitter Bootstrap docs at
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="container">
      <div class="carousel-inner">
        <div id="mainscreen" class="locker_room item active"><!-- class of active since it's the first item -->
          <div id="wrapper">
            <div id="bigtext" class="third_color pull-left">
              <h1>YOU CAN LEARN A LOT ABOUT SOMEONE FROM THEIR LOCKER</h1>
              <hr id="title_hr">
              <h5>Here’s a chance for you to learn a little more about your Sales Representative at Creative.<br><br>Just make sure you have the combination.</h5>
            </div>
            <div id="locker_changer" class="locker_img pull-right">

              <%= image_tag("customer_lounge/locker.png") %>

              <div class="clearfix"></div>

              <%= image_tag("customer_lounge/locker_open.jpg",:class => "locker_open" ) %>
              <!-- put padding on me -->
            </div>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
      href values must reference the id for this carousel -->
    </div><!-- /.carousel -->
  </div>





</div> <!-- main_body ends -->


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="http://facebook.com" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="http://www.twitter.com/" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>

    <div id="lightbulb" class="pull-right">
      <%= image_tag "lightbulb.png", :class=>"bulb"%>
    </div>
  </div><!-- toprow ends -->

  <div class="clearfix"></div>

  <main id="main" class="associates">

     <div id="content" class="locker_room_arrows">
          <%= image_tag "locker_arrows.png", :class => "arrows"%>
        </div>

    <div id="lounge_content" class="locker_room_text sales_assoc">

      <div id="one-locker" class="text_window bar_text pull-left">
        <ul>
          <div id="title_text" class="one pull-left">
            <h4 class="first_color">Locker Room</h4>
          </div>
          <div class="clearfix"></div>
          <div class="locker_account_text">
            <p>In rhoncus risus a urna tincidunt feugiat fermentum <br> leo rutrum. Nam posuere ipsum eros, ac imperdiet <br>enim. Aenean lobortis pharetra venenatis.</p>
          </div>
          <form class="locker navbar-search pull-right" action>
            <input type="text" class="search-query" placeholder="Enter Locker Code">
          </form>

        </ul>

      </div><!-- one-locker ends -->

      <div class="clearfix"></div>

      <div id="locker_person"class="one bar_text">
        <div id="image1" class="locker_room pull-left">
          <%= image_tag "team_creative/jim_ingraffia.png"%>
        </div>
        <div id="three" class="text_window stu_contact_stu_text pull-left">
          <div>
            <ul>
              <li><h4 id="title_text" class="first_color pull-left">jim ingraffia</h4></li>
              <li><h5 id="title_stu_subtext" class="pull-left">Account Executive</h5></li>
            </ul>
          </div>

          <div class="clearfix"></div>

          <div id="assoc_contact_info">
            <div class="yellow_button pull-left">
              <p>PORTFOLIO</p>
            </div>
            <div class="pull-left" style="padding:8px 0px 0px 15px;">
              <%= image_tag "team_creative/key.png", :class=>"pull-left"%>
              <p class="pull-left">&nbsp;&nbsp;MY LOCKER</p>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>

        <div class="locker_account_text">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.<br> Nullam et rutrum arcu. Nam aliquam quam orci. <br>teger eu mi dolor, sit amet rutrum magna. Duis non <br>lectus vitae velit feugiat consectetur. Donec vel nibh <br>lacus. stibulum placerat lorem non urna ornare<br> hendrerit. Donec eget risus diam. Lorem ipsum dolor <br>sit amet, consectetur adipiscing elit. Nullam et rutrum <br>arcu. Nam aliquam quam orci.</p>
        </div>

      </div><!-- locker_person ends -->


      <div class="clearfix"></div>




      </main> <!-- main ends -->


      <aside>
        <div id="sidebar" class="customer_lounge pull-right">
          <h3>news.</h3>
          <h3>happenings.</h3>
          <h3>events.</h3>
          <p>The 5th Annual Spring Open House is scheduled for June 13th.</p>
          <p>Creative is proud to announce the addition of Jonathan Lee to our family.</p>
          <p>Takeda Pharmaceuticals commits to a year-long promo program.</p>
        </div>
      </aside>
    </div><!-- lounge_content ends -->

  </div><!-- main_body ends -->

