<%= render "subnav" %>
<div id="main_body">

  <!--  Carousel - consult the Twitter Bootstrap docs at
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="container">
      <div class="carousel-inner">
        <div id="mainscreen" class="music item active"><!-- class of active since it's the first item -->
          <div id="wrapper">
            <div id="bigtext" class="third_color pull-left">
              <h1>If you can't find a partner use a wooden chair, let's rock</h1>
              <p></p>
              <h5>“Those who dance are considered insane by those
                who cannot hear the music.” <br><br> - George Carlin </h5>
            </div>
            <div id="jukebox" class="pull-right">
              <%= image_tag("customer_lounge/jukebox.png") %>
            </div>
          </div>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
      href values must reference the id for this carousel -->
    </div><!-- /.carousel -->
  </div>


</div> <!-- main_body ends -->


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="http://facebook.com" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="http://www.twitter.com/" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>


    <div id="lightbulb" class="pull-right">
      <%= image_tag "lightbulb.png", :class=>"bulb"%>
    </div>
  </div><!-- toprow ends -->

  <div class="clearfix"></div>

  <main id="main" class="associates">
  <div id="content" class="pull-left">
    <div id="lounge_content" class="sales_assoc">

      <div id="one" class="text_window halfway pull-left">
        <ul>
          <li><h3 id="title_text" class="first_color">jim ingraffia</h3></li>
          <p>In rhoncus risus a urna tincidunt feugiat
          fermentum leo rutrum. Nam posuere ipsum
          eros, ac imperdiet enim. Aenean lobortis
          pharetra venenatis.</p>
        </ul>
      </div><!-- staff_picks_content ends -->

      <div class="clearfix">
      </div>

      <div id="two" class="text_window fullway pull-left">
        <ul>
          <li><h3 id="title_text" class="second_color">SONG SELECTION</h3></li>
          <p>Using the left and right arrows on the juke box above, scroll through the selection of music to
          select a specific tune by entering its code using your keypad. For random play selection, simply press
          the play button on the juke box. To search a specific song, press search and then type the first few
          letters of the song title.</p>
        </ul>
      </div><!-- staff_picks_content ends -->

      <div class="clearfix">
      </div>

      <div id="three" class="text_window fullway pull-left">
        <ul>
          <li><h3 id="title_text" class="second_color">MUSIC VIDEO SELECTION</h3></li>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam et rutrum arcu. Nam aliquam quam orci.
          Integer eu mi dolor, sit amet rutrum magna. Duis non lectus vitae velit feugiat consectetur. Donec vel nibh
          lacus. Vestibulum placerat lorem non urna ornare hendrerit. Donec eget risus diam.</p>
        </ul>
      </div><!-- staff_picks_content ends -->

      </main> <!-- main ends -->
      <aside>
        <div id="sidebar" class="customer_lounge pull-right">
          <h3>news.</h3>
          <h3>happenings.</h3>
          <h3>events.</h3>
          <p>The 5th Annual Spring Open House is scheduled for June 13th.</p>
          <p>Creative is proud to announce the addition of Jonathan Lee to our family.</p>
          <p>Takeda Pharmaceuticals commits to a year-long promo program.</p>
        </div>
      </aside>
    </div>
  </div>



