<%= render "subnav" %>
<div id="main_body">
  <%= image_tag "lounge_landing_page.png", :usemap=>"#loungemap"%>
    <map name="loungemap" >
  <area shape="rect" coords="0,177,106,316" href="locker_room.htm" alt="grannick">
  <area shape="rect" coords="180,160,285,334" href="locker_room.htm" alt="jersy">
  <area shape="rect" coords="520,132,644,301" href="locker_room.htm" alt="locker">
  <area shape="rect" coords="807,93,1025,178" href="locker_room.htm" alt="nowplaying">
  <area shape="rect" coords="1039,108,1121,256" href="locker_room.htm" alt="juke">
  <area shape="rect" coords="960,304,1121,640" href="locker_room.htm" alt="pool">
    </map>
</div>


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="http://facebook.com" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="http://www.twitter.com/" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>


 <!--   <div id="lightbulb" class="pull-right">
      <%= image_tag "lightbulb.png", :class=>"bulb"%>
    </div> -->

      <!-- <div style="left: 130px; top: 60px; position: absolute; width: 120px;">
            <%= image_tag "sports_bar.png" %>
          </div>

      <div class="lounge_sports" >
         <ul>
          <li class="lounge_titles">sports bar</li>
          <li><hr class="dark_line" ></li>
          <li>Check out the latest in sports promotions while taking in a game of darts, pool or basketball. Bring your A-game!</li>
        </ul>
      </div>

    <div style="left: 250px; top: 350px; position: absolute; width: 120px;">
            <%= image_tag "lockers_lounge.png" %>
          </div>

      <div class="lounge_lockers" >
         <ul>
          <li class="lounge_titles">locker room</li>
          <li><hr class="dark_line" ></li>
          <li>Get the combination to your sales associates locker to check out their personal product favorites, portfolio, photos, music and more.</li>
        </ul>
      </div>

   <div style="left: 800px; top: 350px; position: absolute; width: 120px;">
            <%= image_tag "stu_circle.png" %>
          </div>

      <div class="lounge_stu" >
         <ul>
          <li class="lounge_titles">Stu's Contact</li>
          <li><hr class="dark_line" ></li>
          <li>Pearls of wisdom from the founder and creator of Creative Promotional Products. Words that give pause, cause reflection and very often provide a smile.</li>
        </ul>
      </div>

       <div style="left: 900px; top: 60px; position: absolute; width: 120px;">
            <%= image_tag "movie_circle.png" %>
          </div>

      <div class="lounge_movies" >
         <ul>
          <li class="lounge_titles">movies</li>
          <li><hr class="dark_line" ></li>
          <li>Check out the most popular flick or clip and best of all...no late fees.</li>
        </ul>
      </div>

   <div style="left: 825px; top: -210px; position: absolute; width: 120px;">
            <%= image_tag "music_circle.png" %>
          </div>

      <div class="lounge_music" >
         <ul>
          <li class="lounge_titles">music</li>
          <li><hr class="white_line" ></li>
          <li>Staff favorite song choices, music libraries and concert information.</li>
        </ul>
      </div>

  </div><toprow ends -->
  <!-- main ends -->
<!--         <div id="sidebar" class="customer_lounge pull-right">
          <h3>news.</h3>
          <h3>happenings.</h3>
          <h3>events.</h3>
          <p>The 5th Annual Spring Open House is scheduled for June 13th.</p>
          <p>Creative is proud to announce the addition of Jonathan Lee to our family.</p>
          <p>Takeda Pharmaceuticals commits to a year-long promo program.</p>
        </div> -->
      </aside>
    </div>
  </div>


