<%= render "subnav" %>
<div id="main_body">
<%= image_tag "lounge_landing_page.png", :usemap=>"#loungemap"%>
    <!-- <map name="loungemap" >
  <area shape="rect" coords="0,177,106,316" href="stu_contact.htm" alt="grannick">
  <area shape="rect" coords="180,160,285,334" href="sports_bar.htm" alt="jersy">
  <area shape="rect" coords="520,132,644,301" href="locker_room.htm" alt="locker">
  <area shape="rect" coords="807,93,1025,178" href="/aboutus/overview.htm" alt="nowplaying">
  <area shape="rect" coords="1039,108,1121,256" href="music.htm" alt="juke">
  <area shape="rect" coords="960,304,1121,640" href="locker_room.htm" alt="pool">
    </map> -->
</div>


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="https://www.facebook.com/CreativePromo" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="https://twitter.com/CPPromos" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/company/976398?trk=prof-0-ovw-curr_pos" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>


 
      </aside>
    </div>
  </div>


