<%= render "subnav" %>
<div id="main_body">

<!--  Carousel - consult the Twitter Bootstrap docs at
http://twitter.github.com/bootstrap/javascript.html#carousel -->
<div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
  <div class="container">
    <div class="carousel-inner">
      <div class="item active"><!-- class of active since it's the first item -->
        <%= image_tag "ideacenter_mainscreen.jpg"%>
      </div>
    </div><!-- /.carousel-inner -->
    <!--  Next and Previous controls below
    href values must reference the id for this carousel -->
  </div><!-- /.carousel -->
</div>
<div id="sub_nav_botton_bar">
  <div id="sub_nav"></div>
</div>

</div> <!-- main_body ends -->


<div class="clearfix"></div>


<div id="content_holder" class="staff_picks">
  <div id="toprow">
    <div id="social" class="staff_picks pull-left">
      <ul>
        <li><a href="https://www.facebook.com/CreativePromo" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="https://twitter.com/CPPromos" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/company/976398?trk=prof-0-ovw-curr_pos" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>
  </div><!-- toprow ends -->

  <div class="clearfix"></div>

  <main id="staff_main">
  <div id="content" class="pull-left">
    <div id="staff_picks_content">
      <div id="title_bar" class="staff">
        <div id="staff_titles" class="pull-left">
          <a id="staff picks"><h3>staff picks...stay tuned...</h3></a>
        </div>
        <div class="row-fluid">
          <ul id="staff_nav" class="nav nav-pills">
          </ul>
        </div>
      </div>
      <div id="one" class="pull-left">
       <!--  <%= image_tag "idea_center/staff_sharron_biernat.png"%> -->
      </div>

      <!-- <div id="two" class="staff_pick_text pull-left"> -->
        <!-- <ul>
          <li><h3>sharron biernat</h3></li>
          <li><h5>Account Executive</h5></li>
          <p>In rhoncus risus a urna tincidunt feugiat fermentum leo rutrum. Nam posuere ipsum eros, ac imperdiet enim. Aenean lobortis pharetra venenatis</p>
        </ul>
      </div>
      <div id="image1" class="pull-left"><%= image_tag "idea_center/image_1.png"%></div>
      <div id="image2" class="pull-left"><%= image_tag "idea_center/image_2.png"%></div> -->
    <!-- </div>staff_picks_content ends -->

    <div id="staff_picks_content">
      <div id="title_bar" class="portfolio">
        <div id="staff_titles" class="pull-left">
          <a id="portfolio"><h3>portfolio</h3></a>
        </div>
        <div class="row-fluid">
        </div>
      </div>
      <div id="two" class="portfolio_text pull-left">
        <ul>
          <p>Here is a sneak peak at some of the creative work we have done for our clients.</p>
        </ul>
      </div>
      <!--  Carousel - consult the Twitter Bootstrap docs at
http://twitter.github.com/bootstrap/javascript.html#carousel -->
      <div id="carousel-portfolio" class="carousel slide"><!-- class of slide for animation -->
        <div class="container">
          <div class="carousel-inner">
            <div class="item active"><!-- class of active since it's the first item -->
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/image_3.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/image_4.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/image_5.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/image_6.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/image_7.png"%></div>
              </div>
            </div>
            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/8skinnystatue.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/9skinnybox.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/10skinnychair.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/11skinnybucket.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/12skinnybags.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/13pinnacleglass.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/14pinnaclebloodies.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/15skinnylight.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/16pinnaclebucketb.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/17skinnyfridge.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/18skyglass.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/19pinnaclespeaker.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/20pinnaclecontainer.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/21pinnaclebucket.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/22pinnaclebloodiesb.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/23absolutelantern.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/24bearsbracelet.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/25bearsflags.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/26pinnaclebucketc.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/27pinnaclechair.png"%></div>
              </div>
            </div>

             <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/28bearshatbottle.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/29bearshat.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/30bearsguyb.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/31bearssunglasses.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/32bearsfoam.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/33bearsmisc.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/34bearsphonecase.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/35bearsxrt.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/36bullsbox.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/37bearsguy.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/39bullstraining.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/40goodlifeball.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/39einsteinbox.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/41bullsmisc.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/42bearsring.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/43philosophybutton.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/44mcbag.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/45maui.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/46bullsphoto.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/47soxbottlehat.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/48leousb.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/49dovebag.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/50catebagb.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/51absolutebox.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/52pinnaclespeakerb.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/53bluegrass.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/54catebag.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/55ring.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/56hawksgear.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/57kauicoffee.png"%></div>
              </div>
            </div>

              <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/58senioropen.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/64bear.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/60bullspic.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/61bullsscarf.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/62gumballmachine.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/63pepsigrill.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/64snowglobe.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/65edgemisc.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/66catebagc.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/67edgemiscb.png"%></div>
              </div>
            </div>


            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/68mayhemclosedbox.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/69pinnacleboards.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/70fbguitarb.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/71fbguitar.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/72fbguitarc.png"%></div>
              </div>
            </div>


            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/73casinobox.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/74hatbeer.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/75bearsmug.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/76wastemanagement.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/77mayhemopenbox.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/78catemakeup.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/79pennisulastatue.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/80lotteryguitar.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/81notredame.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/82einsteinboxb.png"%></div>
              </div>
            </div>

              <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/83schick.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/84sauzalamp.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/85liasophia.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/86hobb.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/87hob.png"%></div>
              </div>
            </div>

              <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/88basket.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/89schickquattro.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/90schickgiftbox.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/91mikeslemonade.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/92hawkmisc.png"%></div>
              </div>
            </div>

            <div class="item">
              <div id="small_images" class="pull-left">
                <div id="image3" class="pull-left"><%= image_tag "idea_center/93baseballpic.png"%></div>
                <div id="image4" class="pull-left"><%= image_tag "idea_center/94harities.png"%></div>
                <div id="image5" class="pull-left"><%= image_tag "idea_center/95dark.png"%></div>
                <div class="clearfix"></div>
                <div id="image6" class="pull-left"><%= image_tag "idea_center/96schickgiftboxb.png"%></div>
              </div>
              <div id="large_images" class="pull-left">
                <div id="image7" class="pull-left"><%= image_tag "idea_center/97absolutelanternb.png"%></div>
              </div>
            </div>

          </div><!-- /.carousel-inner -->
          <!--  Next and Previous controls below
          href values must reference the id for this carousel -->
          <a class="carousel-control left"  href="#carousel-portfolio" data-slide="prev">&lsaquo;</a>
          <a class="carousel-control right" href="#carousel-portfolio" data-slide="next">&rsaquo;</a>
        </div><!-- /.carousel -->
      </div>

    </div><!-- staff_picks_content ends -->

    <div class="clearfix"></div>

    <div id="staff_picks_content">
      <div id="title_bar" class="case_studies">
        <div id="staff_titles" class="pull-left">
          <a id= "case studies">
          <a id="case studies"><h3>case studies</h3></a>
        </div>
          <div class="row-fluid">
          </div>
      </div>
          <div id="two" class="portfolio_text pull-left">
            <ul>
            <p>Creative Promotional Products have helped has developed News Happenings:</p>
            </ul>
          </div>
        </div>


    <div id="content" class="aboutus pull-left">
      <div id="one" class="pull-left" >
        <%= image_tag "kfc_casestudy.png"%>
      </div>
        <div id="bigtext_innovations" class="pull-left" >
          <h3>KFC Cooler Bag</h3>
          <p><strong>Client:</strong> KFC <br>
            <strong>Goal:</strong> Develop a picnic style cooler bag promoting the KFC brand as an in-store incentive gift item. <br>
            <strong>Result:</strong> KFC targeted picnic cooler pack increased sales over 25% during the promotional period. </p>
        </div>
          <div id="one" class="pull-left">
            <%= image_tag "kfc-ghost.png"%>
          </div>
    </div>


    <div id="content" class="aboutus pull-right">
      <div id="one" class="pull-left" >
          <%= image_tag "usa-ghost.png"%>
      </div>
      
        <div id="bigtext_innovations" class="pull-left">
          <h3>USA Network</h3>
          <p><strong>Client:</strong> USA Network <br>
            <strong>Goal:</strong> To design and produce an item for the MOFY ( Super Fans) promotion.<br>
            <strong>Result:</strong> Creative designed a fully custom Phil’sosophy button that was handed out as part of USA Networks MOFY promotion. The MOFY promotion helped raise awareness of the syndication of Modern Family to USA Network. The promotion was so successful that the buttons were handed out to the full cast.  </p>
        </div>
          <div id="one" class="pull-left">
            <%= image_tag "philosophy_casestudy.png"%>
          </div>
    </div>
    


    <div id="content" class="aboutus pull-left">
      <div id="one" class="pull-left" >
          <%= image_tag "bears_casestudy.png"%>
      </div>
      
        <div id="bigtext_innovations" class="pull-left">
          <h3>Chicago Bears</h3>
          <p> <strong>Client: </strong>Chicago Bears <br>
            <strong>Goal:</strong> Creative was asked to create a custom, high-end influencer package for the Chicago Bears Believe in Monsters campaign. A select group of local and national celebrities who are considered “True Bears Fans” received the influencer gift package. Their participation in the campaign consisted of posting images of the gift package on Twitter, Instagram, and Facebook, with the hashtag #BelieveinMonsters.<br>
            <strong>Result:</strong> The campaign immediately built a buzz on Twitter &amp; Instagram.  The total potential impressions on Twitter for #BelieveinMonsters was 29,324,864. </p>
        </div>
          <div id="one" class="pull-left">
            <%= image_tag "bearhead-ghost.png"%>
          </div>
    </div>

</div><!-- staff_picks_content ends -->

 <!--  <aside>
    <! <div id="sidebar" class="staff_picks pull-right">
      <h3>news.</h3>
      <h3>happenings.</h3>
      <h3>events.</h3>
      <p>The 5th Annual Spring Open House is scheduled for June 13th.</p>
      <p>Creative is proud to announce the addition of Jonathan Lee to our family.</p>
      <p>Takeda Pharmaceuticals commits to a year-long promo program.</p>
    </div>
  </aside>
 -->
  </main> <!-- main ends -->
</div>
</div>

