<%= render "subnav" %>
<div id="main_body">

  <!--  Carousel - consult the Twitter Bootstrap docs at
  http://twitter.github.com/bootstrap/javascript.html#carousel -->
  <div id="this-carousel-id" class="carousel slide"><!-- class of slide for animation -->
    <div class="container">
      <div class="carousel-inner">
        <div class="item active"><!-- class of active since it's the first item -->
          <%= image_tag "slider_images/1creative-home.png"%>
        </div>
        <div class="item">
          <%= image_tag("slider_images/2creative-button.png") %>
        </div>
        <div class="item">
          <%= image_tag("slider_images/3creative-bulls.png") %>
        </div>
        <div class="item">
          <%= image_tag("slider_images/4creative-fb.png") %>
        </div>
        <div class="item">
          <%= image_tag("slider_images/5creative-globe.png") %>
        </div>
        <div class="item">
          <%= image_tag("slider_images/6creative-skinny.png") %>
        </div>
        <div class="item">
          <%= image_tag("slider_images/7creative-bears.png") %>
        </div>
      </div><!-- /.carousel-inner -->
      <!--  Next and Previous controls below
      href values must reference the id for this carousel -->
      <a class="carousel-control left"  href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
      <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
    </div><!-- /.carousel -->
  </div>


</div> <!-- main_body ends -->


<div class="clearfix"></div>


<div id="content_holder">
  <div id="toprow">
    <div id="social" class="pull-left">
      <ul>
        <li><a href="https://www.facebook.com/CreativePromo" target="new">
          <%= image_tag("social_fb.png") %></a>
        </li>
        <li><a href="https://twitter.com/CPPromos" target="new">
          <%= image_tag("social_tw.png") %></a>
        </li>
        <li><a href="https://www.linkedin.com/company/976398?trk=prof-0-ovw-curr_pos" target="new">
          <%= image_tag("social_ln.png") %></a>
        </li>
      </ul>
    </div>

    <div id="timeline" class="pull-left">
      <div id="timeline-arrow">
        <%= image_tag "timeline-arrow.png", align:"center", alt:"arrow" %>
        <!-- <img src="images/timeline-arrow.png" align="center" atl="arrow"/> -->

        <div id="carousel-timeline" class="carousel slide"><!-- class of slide for animation -->
          <div class="container">
            <div class="carousel-inner">
              <div class="item active"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div  class="pull-left"><%= image_tag "timeline1.png"%></div>
                </div>
              </div>



              <!-- <div class="item"> --><!-- class of active since it's the first item -->
                <!--    <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline1.png"%></div>
                </div>
              </div> -->

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline2.png"%></div>
                </div>
              </div>
              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline3.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline4.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline5.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline6.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline7.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline8.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline9.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline10.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline11.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline12.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline13.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline14.png"%></div>
                </div>
              </div>

              <div class="item"><!-- class of active since it's the first item -->
                <div id="small_images" class="pull-left">
                  <div class="pull-left"><%= image_tag "timeline15.png"%></div>
                </div>
              </div>



            </div><!-- /.carousel -->
          </div>
        </div>

        <a class="carousel-control left"  href="#carousel-timeline" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#carousel-timeline" data-slide="next">&rsaquo;</a>

      </div>
    </div>

    <div id="lightbulb" class="pull-right">
      <%= image_tag "lightbulb.png", :class=>"bulb"%>
    </div>
  </div><!-- toprow ends -->

  <div class="clearfix"></div>

<main id="main">
  <div id="content" class="aboutus pull-left">

    <div class="clearfix"></div>

    <div id="featured" class="aboutus_feature">
      <div id="one" class="pull-left">
        <%= image_tag "once-upon-a-time.png"%>
      </div>
      <div id="two" class="pull-left">
        <a id="our story"><h3>OUR STORY.</h3></a>
        <p>Creative stays at the forefront of the latest trends,
        popular culture and manufacturing capabilities — <br>
        so our clients get one-of-a-kind promotions that
        make people say “Wow!”.</p>
        <a id="flip_one">
          <%= image_tag "learn.png"%>
          <div id="panel_one" class="pull-right"><p>Imagine a promotional company where creativity is the focus from start to finish, covering all of your marketing needs in a fresh new way. <br><br>
           Welcome to Creative… A place that brings idea generation to life.  Whatever promotional direction you desire, Creative is here to lead you to unique and imaginative ideas that are perfect for your brand.  Our unsurpassed clientele list speaks for itself; partnering with brands such as the NHL, NFL, Facebook, KFC, Schick, Energizer, Absolut, Geico, Unilever, Kimberly Clark, P&amp;G, and many more.  They have all taken advantage of the new Creative strategy.<br><br>
           We believe we have a unique approach to the promotional industry, as we see ourselves as an extension of an ad agency where we think of the promotional items and programs that would best fit the current campaign, (internally or externally) or a program wrapped around a new product launch.  This approach has been very successful as most of our clients see the value of having someone thinking of ideas for them on a daily basis and coming up with concepts without necessarily having a project to wrap it around.  Creative is your connection to truly identifying your brand by defining who you are in ways you never dreamed of.  We believe in our award winning team of professionals that have been doing just that for the past 30 years.  With our team’s industry expertise, you can relax and leave the details to us!<br><br>
          Creative Promotional Products is in the business of manufacturing and selling products in the promotional and retail markets.<br><br>
         Our corporate office is in Skokie, Illinois, with an overseas office and manufacturing warehouse in Hong Kong.  We have grown from a three-person operation 30 years ago, to a company of more than 50 people by carefully listening to, understanding, and fulfilling the needs of our clients.  We are a highly recognized supplier within the promotional products industry, and have access to the highest quality custom and stock items.  Over the past 30 years we have developed relationships with factories in the United States, Asia and Europe, that enables us to satisfy the unique and specialized needs of our clients.<br><br>
         As evidenced by our long history of successfully servicing many large-volume customers, we promise to provide the best service at the most competitive pricing.</p></div>
        </a>
      </div>
    </div>

    <div class="clearfix"></div>

    <div id="featured" class="aboutus_feature">
      <div id="one" class="pull-left">
        <a id="services"><h3>SERVICES.</h3></a>
        <p>At Creative we wear a variety of hats, from custom-made promotional products, to finishing
        techniques, fulfillment and more, there’s nothing we can’t handle.</p>
        <a id="flip_two">
         <%= image_tag "learn.png"%>
          <div id="panel_two" class="pull-left">
           <p>When you work with creative, you’ll receive custom solutions specifically designed just for you.  <br><br>
            We begin by listening. We take the time to learn about your business, and what is most important to you.  As a team, we’ll help you design a program that will get you noticed.  Creative provides full-service promotional programs.  By staying involved in every step of the process, we deliver extraordinary designs, with impeccable quality, and on time delivery- all within your price point.  Our efficient process means less work and more productivity, for you.<br><br>
          Creative offers:<br><br>
              <ul>
                  <li>Brand Awareness Campaigns</li>
                  <li>Corporate and Executive Gifts</li>
                  <li>Awards and Incentive Programs</li>
                  <li>Safety Programs</li>
                  <li>Online Company Store Programs</li>
                  <li>Tradeshow and event Programs</li>
                  <li>Consulting</li>
                  <li>Full Design Agency Services</li>
                  <li>Packaging</li>
                  <li>Fulfillment</li>
                  <li>Manufacturing</li>
                  <li>Mailing services</li>
                  <li>And much more….</li>
              </ul>
            </p>
          </div>
        </a>
      </div>
      <div id="two" class="pull-left odd_image">
        <%= image_tag "services.png"%>
      </div>
    </div>

    <div class="clearfix"></div>

    <div id="featured" class="aboutus_feature">
      <div id="one" class="pull-left">
        <%= image_tag "design_in_1words.png"%>
      </div>
      <div id="two" class="pull-left">
        <a id="design/print"><h3>DESIGN/PRINT.</h3></a>
        <p>Creative stays at the forefront of the latest trends,
        popular culture and manufacturing capabilities —
        so our clients get one-of-a-kind promotions that
        make people say “Wow!”.</p>
        <a id="flip_three">
          <%= image_tag "learn.png"%>
          <div id="panel_three" class="pull-right">
            <p>Our elite in-house design team will take your ideas from concept to actual design. We work closely with your team to create innovative product renderings, clever packaging ideas, and brilliant logo and identity development that will set your product apart from the competition. Our goal is to develop outstanding designs that focus on ROI. Our award winning design team, headed by Bob Baittie, offers a full suite of creative services.<br>
            We pride ourselves in building your company’s brand through various printing methods. We will provide you with cutting-edge printing concepts that will firmly establish your presence within your industry.<br><br>
            Creative’s printing division can provide your business with superior print services that include:<br><br></p>

            <ul style="width: 25%; float:left;">
              <li>Binding and finishing</li>
              <li>Custom brochures</li>
              <li>Custom packaging</li>
              <li>Digital printing</li>
            </ul>

            <ul style="width: 65%; float:left;">
              <li>Design and consultation</li>
              <li>Mailers</li>
              <li>Signage</li>
              <li>And much more…</li><br><br>
            </ul>
          
            <p>Our expertise in apparel decoration along with our state-of-the-art equipment assures our clients superior quality products. Here are just a few of our decoration methods to offer some ideas for your future projects.<br><br> </p>
            
            <ul style="width: 25%; float:left;">
              <li>Spot Color</li>
              <li>Distress</li>
              <li>Simulated Process</li>
              <li>Sublimation</li>
              <li>Stitch type</li>
              <li>3D Embroidery</li>
              <li>Chenille</li>
            </ul>

            <ul style="width: 35%; float:left;">
              <li>Direct to Garment</li>
              <li>Puff Ink</li>
              <li>Foil</li>
              <li>Appliqué</li>
              <li>Woven label</li>
              <li>Vinyl patch</li>
              <li>Any light bulbs go off yet?</li>
            </ul>
          </div>
        </a>
      </div>
    </div>

    <div class="clearfix"></div>

    <div id="featured" class="aboutus_feature">
      <div id="one" class="pull-left">
        <a id="innovations"><h3>INNOVATIONS.</h3></a>
        <p>When you work with Creative, you get custom solutions designed specifically for you. We begin by listening. We learn about you, your business and your objectives. As a team, we’ll help you design a program that will get you noticed. From sales incentive programs to on-pack promotions, trade show giveaways to corporate gifts, we’ll come up with ideas that are original, meaningful — and within your budget. Take a look at just a few of the solutions we’ve tailored to provide amazing impact.</p>
         <a id="flip_four">
           <%= image_tag "learn.png"%>
           <div id="panel_four" class="pull-left">Creative stays at the forefront of the latest trends, popular culture and manufacturing capabilities, so our clients get one-of-a-kind promotions that keep our clients coming back for more.<br><br>
            The goal at Creative is our C.A.N.I philosophy.  We are constantly looking to improve so as your brand is developing, so are we!  From sales incentive programs to on-pack promotions, trade show giveaways to corporate gifts, we’ll come up with ideas that are original, meaningful, and within your budget.  We place a high level of priority on ROI, to make sure your brand is getting what it deserves.   Take a look at just a few of our innovations we’ve tailored to provide amazing impact.
          </div>
         </a>
      </div>
      <div id="two" class="pull-left odd_image">
        <%= image_tag "aboutus/2012_CPP_lightbulb-abstract.png"%>
      </div>
    </div>

    <div class="clearfix" class="aboutus_feature"></div>

    <div id="featured">
      <div id="one" class="pull-left">
        <%= image_tag "lightbulb_world.png"%>
      </div>
      <div id="two" class="pull-right">
          <a id="international"><h3>INTERNATIONAL.</h3></a>
          <p>Our overseas office in Hong Kong allows us full control over our production lines, ensuring on-time completion with rigorous QC/QA on each and every project.  .</p>
          <a id="flip_five">
          <%= image_tag "learn.png"%>
       <div id="panel_five" class="pull-left">Our Hong Kong office allows us full control over our production lines, ensuring on-time completion with rigorous QC/QA on each and every project. Our personnel in Asia, along with our global sourcing network of factories allow us cost effective solutions, and the ability to source, design, and manufacture many of our own products. This translates into our ability to bring your specific idea or simple drawing to life, unique to your brand. We perform all facets of production including QC/QA, packaging, freight from the factory through customs and delivery to your final location.</div>
          </a>
      </div>
    </div>
  </div> <!-- content ends -->

  <aside>
    <div id="sidebar" class="aboutus pull-right">
      <h3>news.</h3>
      <h3>happenings.</h3>
      <h3>events.</h3>
      <p>The 5th Annual Spring Open House is scheduled for June 13th.</p>
      <p>Creative is proud to announce the addition of Jonathan Lee to our family.</p>
      <p>Takeda Pharmaceuticals commits to a year-long promo program.</p>
    </div>
  </aside>

</main> <!-- main ends -->

