<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Creative</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel();
      });
    </script>
      <script>
      $(document).ready(function(){
        $("#flip_one").click(function(){$('#panel_one').slideToggle("slow");});
        $("#flip_two").click(function(){$('#panel_two').slideToggle("slow");});
        $("#flip_three").click(function(){$('#panel_three').slideToggle("slow");});
        $("#flip_four").click(function(){$('#panel_four').slideToggle("slow");});
        $("#flip_five").click(function(){$('#panel_five').slideToggle("slow");});
      });
    </script>

  </head>
  <body>
    <div class="container-fluid">
      <div class="header" >

        <div class="row-fluid">
          <div class="logo_div pull-left">
            <h1><%= link_to (image_tag "logo.png", :title => "Creative", :class => "logo pull-left"),'/' %></h1>
          </div>
          <nav class="pull-left">
            <ul id="main_nav" class="nav nav-pills">
              <li><a href="/aboutus/overview">about us</a></li>
              <li><a href="/idea_center/staff_picks">idea center</a></li>
              <li><a href="/clients/index">clients</a></li>
              <li><a href="/team_creative/overview">team creative</a></li>
              <li><a href="/customer_lounge/overview">creative lounge</a></li>
              <li><a href="/contact/index">contact</a></li>
<!--               <form class="navbar-search pull-right" action>
                <input type="text" class="search-query" placeholder="Product Search">
              </form> -->
            </ul>
          </nav>
        </div>
      </div>

      <%= yield %>

    </div>
  </body>
</html>

